---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import ContactForm from '../components/ContactForm.astro'
import Map from '../components/Map.astro'
---

<DefaultLayout>
  <div class="mx-14 my-10">
    <h1 class="mb-10">Contact</h1>
    <div class="mx-auto">
      <ContactForm />
    </div>

    <div class="mt-10 flex">
      <div class="flex w-2/3 flex-col justify-center">
        <h5>Téléphone : 03 22 80 93 16</h5>
        <h5>Adresse : 19 rue de Metz, 80000 Amiens</h5>
        <h5>Horaires : du lundi au vendredi de 12h à 15h et 17h à 22h</h5>
      </div>
      <div>
        <Map />
      </div>
    </div>
  </div>
</DefaultLayout>
