---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import ContactForm from '../components/ContactForm.astro'
import Map from '../components/Map.astro'
---

<DefaultLayout>
  <div class="px-4 py-8 sm:mx-14 sm:my-10">
    <h1 class="text-xxl mb-5 font-bold sm:mb-10">Contact</h1>
    <div class="flex items-center justify-center">
      <ContactForm />
    </div>

    <div class="mt-8 sm:flex">
      <div class="sm:w-2/3">
        <h5 class="mb-3 text-lg">Téléphone : 03 22 80 93 16</h5>
        <h5 class="mb-3 text-lg">Adresse : 19 rue de Metz, 80000 Amiens</h5>
        <h5 class="mb-3 text-lg">
          Horaires : du mardi au samedi de 12h à 14h30 et 17h30 à 22h <br />Fermé le dimanche et le lundi
        </h5>
      </div>
      <div class="mt-8 sm:mt-0">
        <Map />
      </div>
    </div>
  </div>
</DefaultLayout>
