---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
// import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'

import { Media } from 'accessible-astro-components'

import tteokbokki from './assets/img/tteokbokki.jpg'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-32">
    <div class="container">
      <h2 class="mb-16 text-6xl text-yogi-blue">Notre cuisine est...</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="ph:heart-bold" title="SAINE">
          <b>LA STREET FOOD CORÉENNE EST SAINE, VOUS PERMETTANT DE VOUS FAIRE PLAISIR SANS VOUS FAIRE DE MAL.</b>
        </Feature>
        <Feature icon="ph:leaf-bold" title="DE SAISON">
          <b>NOUS N'UTILISONS QUE DES PRODUITS DE SAISON, POUR VOUS GARANTIR UNE FRAÎCHEUR OPTIMALE.</b>
        </Feature>
        <Feature icon="ph:fork-knife" title="GOURMANDE">
          <b>NOUS VOUS PROPOSONS DES PLATS GOURMANDS, QUI VOUS FERONT VOYAGER EN CORÉE.</b>
        </Feature>
        <Feature icon="mdi:clock-fast" title="RAPIDE">
          <b>SI VOUS ÊTES PRÉSSÉ.E, PAS D'INQUIÉTUDE, NOUS VOUS SERVONS EN MOINS DE 20 MINUTES.</b>
        </Feature>
        <Feature icon="tabler:thumb-up" title="PRATIQUE">
          <b>NOS PLATS SONT PRATIQUES : VOUS POUVEZ LES MANGER SUR PLACE, À EMPORTER OU EN LIVRAISON.</b>
        </Feature>
        <Feature icon="emojione-monotone:face-savouring-delicious-food" title="AUTHENTIQUE">
          <b>FAIT MAISON ET PAR FAIT PAR UN CORÉEN.</b>
        </Feature>
      </div>
    </div>
  </section>

  <div class="container">
    <h2 class="mb-2 text-6xl text-yogi-blue">Nos plats phares</h2>
    <ContentMedia
      imgSrc="https://res.cloudinary.com/jimymltta/image/upload/v1705073726/Yogi%20Food/BibimBap_cvgb9k.jpg"
    >
      <h2 class="text-yogi-blue">Bibimbab 비빔밥</h2>
      <p class="text-2xl">
        Le Bibimbap est un plat coréen composé de riz, légumes sautés, viande (souvent du bœuf), un œuf et sauce
        gochujang (piquante). Les ingrédients sont disposés sur le riz, offrant une présentation colorée. Servi dans un
        bol normal ou un dolsot (bol en pierre chaud), ce plat est connu pour sa personnalisation et ses saveurs
        mélangées avant de manger.
      </p>
    </ContentMedia>
    <ContentMedia
      imgSrc="https://res.cloudinary.com/jimymltta/image/upload/v1705073726/Yogi%20Food/Ddeokbokki_porx6d.jpg"
      reverseImg={true}
    >
      <h2 class="text-yogi-blue">Ddeokbokki 떡볶이</h2>
      <p class="text-2xl">
        Le Ddeokbokki est un plat populaire coréen composé de gâteaux de riz longs et cylindriques, épicés et enrobés
        d'une sauce rouge épaisse et sucrée. Ce plat est souvent agrémenté d'autres ingrédients comme des œufs durs, des
        oignons verts, et parfois des nouilles de poisson, offrant un mélange unique de saveurs piquantes et de textures
        moelleuses.
      </p>
    </ContentMedia>
  </div>

  <!-- <section class="mt-64 mb-32">
    <h2 class="mb-16 text-6xl">À remplacer par des photos de plats</h2>
    <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4"> -->
  <!-- <Counter count="130" src={} title="Plat 1" sub="On GitHub" />
      <Counter count="17" src={} title="Plat 2" sub="Components" />
      <Counter count="500" src={} title="Plat 3" sub="Merged" />
      <Counter count="18+" src={} title="Plat 4" sub="Since launch" /> -->
  <!-- <Media src={tteokbokki} class="rounded-lg aspect-square" /> -->
  <!-- </div>
  </section> -->
</DefaultLayout>
