---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout>
  <div class="my-10 mx-14">
    <h1>Nos plats de saison</h1>
    <div class="flex items-center justify-center mx-10 my-20">
      <div class="grid grid-cols-1 gap-20 mx-4 md:grid-cols-2">
        <a href="">
          <div class="p-10 border border-white rounded">
            <h4>BibimMyun</h4>
            <span>13,70€</span>
          </div>
        </a>
        <a href="">
          <div class="p-10 border border-white rounded">
            <h4>Doenjang Jjigae</h4>
            <span>14€</span>
          </div>
        </a>
        <a
          href="https://deliveroo.fr/fr/menu/Amiens/saint-germain-les-halles-saint-leu-notre-dame/yogi-19-rue-de-metz/?geohash=u0ceggbg1c5e&item-id=1491669034"
        >
          <div class="p-10 border border-white rounded">
            <h4 class="font-bold">SAMBBAP</h4>
            <span>14€</span>
          </div>
        </a>
        <a href="">
          <div class="p-10 border border-white rounded">
            <h4 class="font-bold">KIMCHI RIZ</h4>
            <span>12€</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</DefaultLayout>
