<div class="container">
  <div class="flex flex-col items-center gap-12 p-12 mt-24 mb-32 call-to-action rounded-xl md:p-24">
    <h2 class="text-3xl text-center md:text-5xl">Commandez votre plat dès maintenant</h2>
    <div class="flex md:flex-rows md:gap-4">
      <a href="/contact" class="text-lg text-center"> Je commande par téléphone</a>
      <a
        href="https://deliveroo.fr/fr/menu/Amiens/saint-germain-les-halles-saint-leu-notre-dame/yogi-19-rue-de-metz?geohash=u0ceggbg1c5e"
        class="text-lg text-center"
      >
        Je commande sur Deliveroo</a
      >
    </div>
  </div>
</div>

<style lang="scss">
  .call-to-action {
    color: var(--neutral-900);
    /*background-image: linear-gradient(40deg, var(--primary-400), var(--primary-400));*/
  }

  .call-to-action a:not(button),
  .call-to-action a:not(button):visited {
    padding: 1rem;
    color: var(--neutral-900);
    font-weight: bold;
    border: 3px solid var(--neutral-900);
    border-radius: 3px;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;

    &:where(:hover, :focus) {
      color: var(--neutral-100);
      background-color: var(--neutral-900);
      text-decoration: underline;
    }
  }
</style>
