---
const { count, title, sub, src } = Astro.props
---

<div class="text-center animate">
  <p class="text-6xl font-bold">{count}</p>
  <p class="text-4xl font-semibold">{title}</p>
  <p class="text-2xl">{sub}</p>
</div>

<style lang="scss">
  div > p:first-child {
    color: var(--action-color);
  }
</style>
