---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <CallToAction />
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Développé avec ❤️ à Amiens par <a
          href="https://agenceneodesign.com">NeoDesign</a
        >.
      </p>
    </div>
  </section>
</footer>
