---
import Navigation from '../components/Navigation.astro'
import { SkipLinks } from 'accessible-astro-components'
import { Icon } from 'astro-icon'
---

<header>
  <SkipLinks />
  <Navigation>
    <li class="menu-item">
      <a href="/">Accueil</a>
    </li>
    <li class="menu-item">
      <a href="/carte/">La carte</a>
    </li>
    <li class="menu-item">
      <a href="/contact/">Contact</a>
    </li>

    <li class="menu-item type-icon type-icon-button">
      <a
        href="https://deliveroo.fr/fr/menu/Amiens/saint-germain-les-halles-saint-leu-notre-dame/yogi-19-rue-de-metz?geohash=u0ceggbg1c5e"
        title="Aller sur Deliveroo"
      >
        <div class="icon-wrapper">
          <Icon pack="ic" name="outline-food-bank" />
          <span class="menu-item-text">Commander</span>
        </div>
      </a>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .type-icon a {
      display: block;

      .icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      [astro-icon] {
        margin-top: -4px;
        width: 30px;

        path {
          fill: var(--primary-400);
          transition: fill 0.2s ease-in-out;
        }
      }

      &:hover {
        [astro-icon] path {
          fill: var(--primary-400);
        }
      }
    }

    // .type-icon-button {
    //   padding: 0;
    //   border: none;
    //   background: var(--action-color);
    //   color: white;
    //   cursor: pointer;
    // }
  }
</style>
