---
import { Icon } from 'astro-icon'

const { src = 'https://res.cloudinary.com/jimymltta/image/upload/v1706219526/Yogi%20Food/banniere-yogi_prvooi.png' } =
  Astro.props
---

<section class="relative h-screen bg-center bg-no-repeat bg-cover" style={{ backgroundImage: `url(${src})` }}>
  <div class="flex flex-col items-center justify-center h-full">
    <div>
      <div class="flex flex-col gap-3 min-[500px]:flex-row mt-12">
          <a
            class="button has-icon"
            href="https://deliveroo.fr/fr/menu/Amiens/saint-germain-les-halles-saint-leu-notre-dame/yogi-19-rue-de-metz?geohash=u0ceggbg1c5e"
          >
            <Icon pack="ic" name="outline-food-bank" />
            Commander
          </a>
          <a class="button has-icon color-primary" href="/carte">
            <Icon pack="jam" name="document" />
            Voir le menu
          </a>
        </div>
    </div>
  </div>
</section>

<style lang="scss">
  .text-gradient {
    color: var(--primary-400);
  }

  :global(.darkmode .text-gradient) {
    color: var(--primary-400);
  }
</style>
