---
import { Icon } from 'astro-icon'

const { src = '/bibimbab.jpg' } = Astro.props
---

<section class="hero my-24">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-center text-6xl md:text-left lg:text-8xl">
          <slot
            ><span class="text-gradient">Yogi Food</span>, la street food <span class="text-gradient">coréenne</span> à Amiens</slot
          >
        </h1>
        <div class="flex flex-col gap-3 min-[500px]:flex-row">
          <a class="button has-icon" href="https://github.com/honocoder">
            <Icon pack="ic" name="outline-food-bank" />
            Commander
          </a>
          <a class="button has-icon color-primary" href="https://github.com/honocoder">
            <Icon pack="jam" name="document" />
            Voir le menu
          </a>
        </div>
      </div>
      <img class="hidden aspect-square rounded-lg lg:block" src={src} alt="" decoding="async" />
    </div>
  </div>
</section>

<style lang="scss">
  .text-gradient {
    color: var(--primary-400);
  }

  :global(.darkmode .text-gradient) {
    color: var(--primary-400);
  }
</style>
